@{
    ViewBag.Title = "Password Recovery";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}
@model OrdinationApp.ViewModels.PasswordRecoveryViewModel;


<div class="container">
    <div class="card w-50 mx-auto login">
        <div class="card-body">
            <form class="my-5" method="post">
                <h4 class="text-center mx-3">Password Recovery</h4>
                <div class="form-group my-3 w-50 mx-auto">
                    <label>Username: </label>
                    <input asp-for="Username" class="form-control" />
                    <span class="text-danger" asp-validation-for="Username"></span>
                </div>

                <div class="form-group my-3 w-50 mx-auto">
                    <label>Email Address: </label>
                    <input asp-for="Email" class="form-control" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>

                <button class="btn btn-success d-block mx-auto w-50" type="submit">Submit</button>

            </form>
        </div>
    </div>
</div>
