@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model OrdinationApp.ViewModels.ResetPasswordViewModel;

<section>
    <div class="container">
        <div class="card w-50 mx-auto login">
            <h4 class="text-center my-3">Reset Password</h4>
            <div class="card-body">
                <form method="post">
                    <input hidden asp-for="Email" />
                    <input hidden asp-for="Token" />
             
                    <div class="form-group mb-5">
                        <label>New Password: </label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group mb-5">
                        <label>Comfirm New Password:</label>
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                    <button class="btn btn-success" type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>

</section>