<div class="text-center bg-danger">
    <p>Sorry, you haven't filled up the ordination bills for all ranks, kindly fill up the bills to proceed.</p>
    <a asp-controller="Data" asp-action="AddBill" class="btn btn-success">Proceed to add Bills</a>
    <a asp-controller="Approvals" asp-action="BulkUpload" class="btn btn-secondary">Go back to Previous Page</a>
</div>