@model IEnumerable<OrdinationApp.Models.Member>;

<form method="post" asp-controller="Payments" asp-action="FillMember">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group w-50">
        <label>Enter Membership Id: </label>
        <input class="form-control" name="membershipId" id="membershipId" type="text" />
    </div>
    <button class="btn d-block w-50 btn-primary mt-3" type="submit">Fill</button>
</form>

<div class="mt-5">
    @if (Model != null)
    {
        <table class="table table-striped">
            <thead>
            <th>Membership Id</th>
            <th>Name</th>
            <th></th>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.MemberShipId</td>
                        <td> @obj.Surname @obj.FirstName @obj.Othername</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-controller="Payments" asp-action="SavePayments" class="d-block mx-auto my-3 w-25 btn btn-primary">Save</a>

    }
    else
    {
        <p class="text-center">No members added yet</p>
    }

</div>

